@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1 class="font-semibold text-2xl">Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded dark:bg-white dark:text-blue-500 dark:hover:bg-slate-700" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
